In [1]:
import splusdata
import getpass
import pandas as pd

In [2]:
# Connecting with SPLUS database
username = input(prompt="Login: ")
password = getpass.getpass("Password: ")
conn = splusdata.connect(username, password)

Login: Luis
Password: ········
You have access to internal data

In [3]:
Query = f"""SELECT det.ID, det.ra, det.dec, r.r_PStotal 
               FROM "idr3"."detection_image" as det JOIN "idr3_vacs"."star_galaxy_quasar" 
               as sgq ON (sgq.ID = det.ID) join idr3.r_band as r on r.id = det.id WHERE "CLASS" = 0 
               AND r_PStotal <= 20 AND nDet_PStotal = 12"""

In [4]:
# Executing the query
table = conn.query(Query)

finished

In [5]:
print(type(table))

<class 'astropy.table.table.Table'>

In [45]:
table.write("../QSOs-r20.fits", format="fits", overwrite=True)

In [47]:
# converting astropy table into pandas
df = table.to_pandas()
print(type(df))
print(len(df))
print(df.head(3))
print(df.dtypes)

<class 'pandas.core.frame.DataFrame'>
106353
                             ID          RA       DEC  r_PStotal
0  b'iDR3.SPLUS-n05n55.037638 '  223.882672  5.899741  19.341000
1  b'iDR3.STRIPE82-0107.061046'  314.603292 -0.275460  19.844513
2  b'iDR3.STRIPE82-0107.065423'  314.445716 -0.070226  18.748806
ID            object
RA           float64
DEC          float64
r_PStotal    float32
dtype: object

In [48]:
#df['ID'] = df['ID'].apply(lambda x: x.decode('utf-8')) 
#df['ID'].str.decode('utf-8') # returns a pd.series applying decode on str succesfully
df

                                  ID          RA        DEC  r_PStotal
0       b'iDR3.SPLUS-n05n55.037638 '  223.882672   5.899741  19.341000
1       b'iDR3.STRIPE82-0107.061046'  314.603292  -0.275460  19.844513
2       b'iDR3.STRIPE82-0107.065423'  314.445716  -0.070226  18.748806
3       b'iDR3.SPLUS-n04s44.034767 '  209.899487  -3.488098  19.828615
4       b'iDR3.SPLUS-n07s43.047387 '  207.556249  -7.786747  19.300842
...                              ...         ...        ...        ...
106348  b'iDR3.SPLUS-s23s48.001115 '  356.831109 -30.256033  19.880966
106349  b'iDR3.SPLUS-s22s17.032305 '   24.927379 -28.091761  19.235878
106350  b'iDR3.SPLUS-s32s38.036036 '   65.524602 -40.966558  19.458225
106351  b'iDR3.SPLUS-s36s36.035403 '   68.984297 -46.098013  19.512018
106352  b'iDR3.SPLUS-s35s40.051217 '   75.112402 -44.802221  19.838085

[106353 rows x 4 columns]

In [49]:
# Writting the CSV table
df.to_csv("../QSOs-r20.csv", encoding='utf-8', index=False)